*{ font-family: Arial, Helvetica, sans-serif;}

header, footer {
    color: white;
    text-align: center;
}

section {
    width: 65%;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.397);
}